.Track {
    width : 20rem;
    height : 20rem;
    margin:auto;
    border: 4px solid;
    border-color: #858384;
    background-size: 100% 100%;
}

.Album0 {
    background-image: url('images/Albums/Album0.jpg');
}


.Album1 {
    background-image: url('images/Albums/Album1.jpg');
}

.Album2 {
    background-image: url('images/Albums/Album2.jpg');
}

.Album3 {
    background-image: url('images/Albums/Album3.jpg');
}
.Album4 {
    background-image: url('images/Albums/Album4.jpg');
}
.Album5 {
    background-image: url('images/Albums/Album5.jpg');
}
.Album6 {
    background-image: url('images/Albums/Album6.jpg');
}

.background{
    background-image: url('images/midi-back2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.marginTop5{
    margin-top: 5%;
}

.marginTop3{
    margin-top: 3%;
}

@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.mashupTime {
    font-family: 'establishRetrosansOTF';
    font-size: 30px;
}

.timeDescription {
    font-family: 'Pretendard-Regular';
    font-size: 30px;
    color: #AD0257;
    font-weight: bold;
}

.songTitle {
    font-family: 'establishRetrosansOTF';
    font-size: 40px;
    font-weight: bold;
    color: #AD0257;;
}

.mashupBoard {
    border: 4px solid;
    border-color: #858384;
}